

.navbar-vertical.navbar-expand-md .navbar-brand-img {
  max-height: 15rem;
}

.navbar-vertical.navbar-expand-md .navbar-brand{
  padding-bottom: 1rem;
}


.icon-shape-primary {
    background-color: white !important;
}


